<div class="nav-bar">
    <div class="nav-cnotact">
        <a [routerLink]="['/login']" *ngIf='!userLoginStatus'> Login</a>
        <a [routerLink]="['/home']">Home</a>
    </div>
    <div class="container">
        <h3>SCHOOL E2SS</h3>
    </div>
    <div class="avatar-content">
        <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn pro" id="dropdownBasic1" ngbDropdownToggle>
                    <img #sora src="assets/avatar.svg">
                    <h5 #userName>User name</h5>
                </button>
                
                <div *ngIf="userStatus" id="drop-user" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <small>User Profile</small>
                    
                    <hr>
                    <div class="see-profile">
                        <a [routerLink]="['/profile']">See Profile</a>
                    </div>
                    <div id="logout">
                        <a (click)='logout()' class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
