<div class="register-container">
    <h3 class="register-title">User Registration</h3>
      <form class="needs-validation" id="reg" [formGroup]='formGroup'>
        <div class="second-section section">

            <div class="input-group selection mb-3">
              <div class="iamge">
                <input type="file" name="file" (change)="setImage($event)" id="file">
              </div>
                        <label for="user-section">User Section: (<span>*</span>)</label>
                        <select class="custom-select " (change)="userSectionSelect($event.target.value)" formControlName="userSection" id="user-section">
                          <option selected>Choose...</option>
                          <option *ngFor="let userSection of userSectionList" [value]="userSection.id">{{userSection.sction}}</option>
                        </select>
                      </div>
                      
                      <div class="">
                        <label for="phone">Phone: (<span>*</span>)</label>
                        <input type="number" class="form-control" placeholder="(999 9999 9999)" value="0" formControlName='phone' id="phone" name="phone">
                      </div>
            
                      <div *ngIf="studentParentisStatus" class="">
                        <label for="pre-degree">Previous Degree:</label>
                        <input type="number" class="form-control" formControlName='preDegree' value="0" id="pre-degree" name="preDegree">
                      </div>

                      <div *ngIf="studentParentisStatus" class="">
                        <label for="class-name">Class Name: (<span>*</span>)</label>
                        <input type="text" class="form-control" formControlName='className' id="class-name" name="className">
                      </div>
                    </div>
            
                    <div class="third-section section">
                      <div class="">
                        <label for="address">Address: (<span>*</span>)</label>
                        <textarea type="text" class="form-control" formControlName='address' cols="20" rows="3" id="address" name="address"></textarea>
                      </div>
            
                      <div class="">
                        <label for="country">Country: (<span>*</span>)</label>
                        <input type="text" class="form-control" formControlName='country' id="country" name="country">
                      </div>
            
                      <div class="">
                        <label for="city">City: (<span>*</span>)</label>
                        <input type="text" class="form-control" formControlName='city' id="city" name="city">
                      </div>
                    </div>

                    <div class="fourth-section section" *ngIf="!studentParentisStatus">
                      <div class="">
                        <label for="qualification">qualifications: (<span>*</span>)</label>
                        <textarea type="text" class="form-control" formControlName='qualification' cols="20" rows="3" id="qualification" name="qualification"></textarea>
                      </div>
            
                      <div class="">
                        <label for="card-id">Card ID: (<span>*</span>)</label>
                        <input type="number" class="form-control" formControlName='cardId' value="0" id="card-id" name="cardId">
                      </div>
            
                      <div class="">
                        <label for="ex-year">Experience Year NO: (<span>*</span>)</label>
                        <input type="number" class="form-control" formControlName='experienceYear' value="0" id="ex-year" name="experienceYear">
                      </div>
                    </div>
         

                    <div id="form-group" formArrayName='formPreJobGroup' *ngIf="!studentParentisStatus">
                      <h3>Previous Job:</h3>
                      <button class="btn btn-primary" (click)="addNewPreviousJob()"> + </button>
                      <div *ngFor="let preJob of previousJob.controls; let i = index;" class="sys-parentis section fifth-section">
                        <div class="previous-job" [formGroupName]='i'>
                          <div class="">
                            <label for="school-name">School Name: (<span>*</span>)</label>
                            <input type="text" class="form-control" formControlName='preSchoolName' id="school-name" name="preSchoolName">
                          </div>
                          <div class="">
                            <label for="leave-reason">Leave Reason: (<span>*</span>)</label>
                            <textarea type="text" class="form-control" formControlName='leaveReason' cols="20" rows="3" id="leave-reason" name="leaveReason"></textarea>
                          </div>
                          <div class="">
                            <label for="year-no">Year NO: (<span>*</span>)</label>
                            <input type="number" class="form-control" value="0" formControlName='year_NO' id="year-no" name="year_NO">
                          </div>
                        </div>
                        <button class="btn btn-primary" id="remove-job" (click)="removeJob(i)"> I am a fresh </button>
                      </div>
                    </div>


        </form>
        <br>
        
        <form [formGroup]='formParentisGroup' *ngIf="studentParentisStatus">
          <hr>
          <br>
          <div class="sys-parentis section fifth-section">
            <h3>Student Parentis:</h3>
            <div class="sys-parentis">
              <label for="user-section">Select Student Parentis: (<span>*</span>)</label>
                        <select class="custom-select " formControlName="stud_parentis" id="user-section">
                          <option selected>Choose...</option>
                          <option *ngFor="let parentis of sysParentisList" [value]="parentis.id">{{parentis.parentis}}</option>
                        </select>
            </div>
            <div class="">
              <label for="father-name">Name: (<span>*</span>)</label>
              <input type="text" class="form-control" formControlName='parentisName' id="parentis-name" name="parentisName">
            </div>
            <div class="">
              <label for="father-phone">Phone: (<span>*</span>)</label>
              <input type="number" class="form-control" placeholder="(999 9999 9999)" formControlName='parentisPhone' id="parentis-phone" name="parentisPhone">
            </div>
            <div class="">
              <label for="father-address">Address: (<span>*</span>)</label>
              <input type="text" class="form-control" formControlName='parentisAddress' id="parentis-address" name="parentisAddress">
            </div>
          </div>
        </form>
      <a class="btn btn-success" (click)="saveUser($event)" type="button">Save User</a>
        <br>
        
  </div>