<!-- <div class="body-home"> -->
  <div class="home-content">
    <div class="layout">
      <div class="header">
        <app-header></app-header>
      </div>
      <div class="content">
        <div class="section1 section">
          <h1>School Name Here</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Debitis molestiae amet nobis aperiam mollitia magni, repellendus 
            placeat perferendis quam beatae adipisci? Temporibus, 
            asperiores! Et unde velit minus? Repellendus, eveniet ullam.</p>
        </div>
        <div class="section2 section">
          <h1>About School - Hstory</h1>
          <img src="assets/school1.jpg">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Debitis molestiae amet nobis aperiam mollitia magni, repellendus 
            placeat perferendis quam beatae adipisci? Temporibus, 
            asperiores! Et unde velit minus? Repellendus, eveniet ullam.</p>
        </div>
        <div class="section3 section">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Debitis molestiae amet nobis aperiam mollitia magni, repellendus 
            placeat perferendis quam beatae adipisci? Temporibus, 
            asperiores! Et unde velit minus? Repellendus, eveniet ullam.</p>
            <div class="home-btn">
              <button class="btn btn-outline-dark" *ngIf="!userStatus" [routerLink]="['/login']">Login</button>
              <button class="btn btn-outline-dark">Contact Us</button>
            </div>
        </div>
      </div>
    </div>
    
  <!-- </div> -->
</div>